.formpage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(201, 201, 201);
    align-items: center;
    justify-content: center;
}

.formpage input {
    height: 40px;
    width: 250px;
    background-color: rgb(241, 233, 233);
    margin: 10px;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid grey;
    color: black;
}

.formpage button {
    width: 100px;
    height: 40px;
    background-color: rgb(220, 229, 245);
    color: black;
    font: 16px bold;
    border-radius: 10px;
    border: 2px solid rgb(110, 110, 110);
}

.formpage button:hover {
    color: white;
    background-color: black;
}